<!DOCTYPE html>
<html>
<head>
  <title>Zll15</title>
  <%= stylesheet_link_tag    "zll15/application", media: "all" %>
  <%= javascript_include_tag "zll15/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
